<%# ---------- nav ---------- %>
<nav>
  <div class="static">
    <button-
    class="w40px h40px"
    _href="/" _prefix="svgNav"></button->
  </div>

  <div class="dynamic">
    <button-
    class="w40px h40px"
    _href="/admin/articles/" _prefix="svgPages"></button->
    <button-
    class="w40px h40px"
    _href="/admin/users/" _prefix="svgUsers"></button->
  </div>

  <div class="static">
    <button-
    class="w40px h40px"
    _href="/admin/settings/" _prefix="svgSettings"></button->
  </div>
</nav>