<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <link rel="icon" href="data:,">
  <meta name="viewport" content="width=device-width">
  <title><%= title %></title>
  <link rel="stylesheet" href="/public/assets/theme.css">
</head>
<body>
  <div class="app">
    <%- include('../modules/nav.ejs') %>
    <%- body %>
  </div>
  <script src="/public/assets/button.js?v=1"></script>
  <script src="/public/assets/input.js?v=1"></script>
  <script src="/public/assets/theme.js?v=1"></script>
  <script src="/public/assets/svg.js?v=1"></script>
</body>
</html>