<%# ---------- main ---------- %>
<main>

  <div class="static">
    <div class="title"><%= title %></div>
  </div>

  <div class="dynamic">
    <div class="data"><%= content %></div>
  </div>

  <div class="static"></div>

</main>